# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TimeManipulationTest.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hocki\Desktop\Projects\TimeManipulationTest\.idea\.idea.TimeManipulationTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
